In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# 1. Read the dataset to the python environment.

In [2]:
data=pd.read_excel('iris.xls')
data

      SL   SW   PL   PW  Classification
0    5.1  3.5  1.4  0.2     Iris-setosa
1    4.9  3.0  1.4  0.2     Iris-setosa
2    4.7  3.2  1.3  0.2     Iris-setosa
3    4.6  3.1  1.5  0.2     Iris-setosa
4    5.0  3.6  1.4  0.2     Iris-setosa
..   ...  ...  ...  ...             ...
145  6.7  3.0  5.2  2.3  Iris-virginica
146  6.3  2.5  5.0  1.9  Iris-virginica
147  6.5  3.0  5.2  2.0  Iris-virginica
148  6.2  3.4  5.4  2.3  Iris-virginica
149  5.9  3.0  5.1  1.8  Iris-virginica

[150 rows x 5 columns]

In [3]:
data.isna().sum()

SL                0
SW                0
PL                0
PW                0
Classification    0
dtype: int64

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   SL              150 non-null    float64
 1   SW              150 non-null    float64
 2   PL              150 non-null    float64
 3   PW              150 non-null    float64
 4   Classification  150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [5]:
data.shape

(150, 5)

# 2. Do necessary pre-processing steps

In [6]:
from sklearn import datasets
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [7]:
# Load the iris data
iris = datasets.load_iris()
# Create a variable for the feature data
X = iris.data
# Create a variable for the target data
y = iris.target

In [8]:
# Random split the data into four new datasets, training features, training outcome, test features, 
# and test outcome. Set the size of the test data to be 30% of the full dataset.
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)# Load the standard scaler
sc = StandardScaler()
# Compute the mean and standard deviation based on the training data
sc.fit(X_train)
# Scale the training data to be of mean 0 and of unit variance
X_train_std = sc.transform(X_train)
# Scale the test data to be of mean 0 and of unit variance
X_test_std = sc.transform(X_test)

In [9]:
# Feature Test Data, non-standardized
X_test[0:5]

array([[6.1, 2.8, 4.7, 1.2],
       [5.7, 3.8, 1.7, 0.3],
       [7.7, 2.6, 6.9, 2.3],
       [6. , 2.9, 4.5, 1.5],
       [6.8, 2.8, 4.8, 1.4]])

In [10]:
# Feature Test Data, standardized.
X_test_std[0:5]

array([[ 0.3100623 , -0.50256349,  0.484213  , -0.05282593],
       [-0.17225683,  1.89603497, -1.26695916, -1.27039917],
       [ 2.23933883, -0.98228318,  1.76840592,  1.43531914],
       [ 0.18948252, -0.26270364,  0.36746819,  0.35303182],
       [ 1.15412078, -0.50256349,  0.54258541,  0.2177459 ]])

# onehot encoder

In [11]:
from sklearn.preprocessing import OneHotEncoder
one_hot= OneHotEncoder()
transformed_data = one_hot.fit_transform(data['Classification'].values.reshape(-1,1)).toarray()
one_hot.categories_

[array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)]

In [12]:
transformed_data=pd.DataFrame(transformed_data,columns=['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'])
transformed_data.head()

   Iris-setosa  Iris-versicolor  Iris-virginica
0          1.0              0.0             0.0
1          1.0              0.0             0.0
2          1.0              0.0             0.0
3          1.0              0.0             0.0
4          1.0              0.0             0.0

# Normalization

In [13]:
# apply MinMaxScaler for iris data set, [0, 1] for the range
from sklearn.preprocessing import MinMaxScaler
data_n = data.copy()
min_max_scaler = MinMaxScaler()
data_n.iloc[:, [0, 1, 2, 3]] = min_max_scaler.fit_transform(data_n.iloc[:, [0, 1, 2, 3]])
data_n.head()

         SL        SW        PL        PW Classification
0  0.222222  0.625000  0.067797  0.041667    Iris-setosa
1  0.166667  0.416667  0.067797  0.041667    Iris-setosa
2  0.111111  0.500000  0.050847  0.041667    Iris-setosa
3  0.083333  0.458333  0.084746  0.041667    Iris-setosa
4  0.194444  0.666667  0.067797  0.041667    Iris-setosa

# Standarization

In [14]:
# apply StandardScaler for iris data set, this is z-score normalization
from sklearn.preprocessing import StandardScaler
data_s = data.copy()
std_scaler = StandardScaler()
data_s.iloc[:, [0, 1, 2, 3]] = std_scaler.fit_transform(data_s.iloc[:, [0, 1, 2, 3]])
data_s.head()

         SL        SW        PL        PW Classification
0 -0.900681  1.032057 -1.341272 -1.312977    Iris-setosa
1 -1.143017 -0.124958 -1.341272 -1.312977    Iris-setosa
2 -1.385353  0.337848 -1.398138 -1.312977    Iris-setosa
3 -1.506521  0.106445 -1.284407 -1.312977    Iris-setosa
4 -1.021849  1.263460 -1.341272 -1.312977    Iris-setosa

# 3. Find out which classification model gives the best result to predict iris species.(also do random forest algorithm)Â¶

# logisticRegression

In [15]:
from sklearn.linear_model import LogisticRegression
from sklearn import metrics
model = LogisticRegression()
model.fit(X_train,y_train)
prediction=model.predict( X_test)
print('The accuracy of the Logistic Regression is',metrics.accuracy_score(prediction,y_test))

The accuracy of the Logistic Regression is 1.0

# Decision Tree

In [16]:
from sklearn.tree import DecisionTreeClassifier
model=DecisionTreeClassifier()
model.fit(X_train,y_train)
prediction=model.predict(X_test)
print('The accuracy of the Decision Tree is',metrics.accuracy_score(prediction,y_test))

The accuracy of the Decision Tree is 1.0

# K-Nearest Neighbours

In [17]:
from sklearn.neighbors import KNeighborsClassifier
model=KNeighborsClassifier(n_neighbors=3) #examines 3 neighbours for putting the new data into a class
model.fit(X_train,y_train)
prediction=model.predict(X_test)
print('The accuracy of the KNN is',metrics.accuracy_score(prediction,y_test))

The accuracy of the KNN is 1.0

# Support Vector Machine (SVM)

In [18]:
from sklearn import svm 
model = svm.SVC() 
model.fit(X_train,y_train)
prediction=model.predict(X_test) 
print('The accuracy of the SVM is:',metrics.accuracy_score(prediction,y_test))

The accuracy of the SVM is: 1.0

# Random forest algorithm

In [19]:
from sklearn.ensemble import RandomForestClassifier 
clf=RandomForestClassifier(n_estimators=100)
#Train the model using the training sets y_pred=clf.predict(X_test)
clf.fit(X_train,y_train)
# prediction on test set
y_pred=clf.predict(X_test)
#Import scikit-learn metrics module for accuracy calculation
from sklearn import metrics
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 1.0